*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 12vh  1fr;
    
    
    header{
        grid-column: 1/span 4;

    }
    main{
        font-size: 2vw;
        grid-column: 1/span4;
        
        background: #4f772d;
        background: -webkit-linear-gradient(0deg, #4f772d 0%, #31572c 50%, #132a13 100%);
        background: linear-gradient(0deg, #4f772d 0%, #31572c 50%, #132a13 100%);
        
        #background{
            width: 100%;
        }

        #quebra-pagina{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
            #txt{
                grid-column: 1/3;
                color: #ECF39E;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{ font-size: 2.5em;}
                h3{ font-size: 3.5vw;}
            }
            #quebra{
                grid-column: 3;
                width: 50vw;
            }
        }

        #imagens{
            padding-top: 1.5vh;
            display: flex;
            justify-content: space-around;
            img{
                width: 20vw;
                border-radius: 1vw;
                border: 0.5vw solid #ECF39E;
            }
        }

        #sobre{
            padding-top: 5vh;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            #box{
                grid-column: 2/5;
                background-color: #90A955;
                border-radius: 1vw;
                color: #132A13;
                display: flex;
                flex-direction: column;
                align-items: center;
                #textos{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 10vh;
                    h3{

                        align-self: center;
                        font-size: 2.1em;
                        box-shadow: black;
                    }
                    p{
                        padding-top: 2vh;
                        font-size: 1em;
                    }
                }
            }
        }
    }
    footer{
        grid-column: 1/5;  
        background-color: #4f772d;
    }
    

}